{% extends 'base.html' %}

{% block container %}
<h2>Edit Task</h2>
<p>Update the details of your task.</p>

<form method="POST" action="{{ url_for('edit', mongoid=task._id) }}">
  <p>
    Task Name:
    <input type="text" id="task_name" name="task_name" value="{{ task.name }}" required /><br />
  </p>
  <p>
    Priority:
    <input type="number" id="priority" name="priority" value="{{ task.priority }}" min="1" max="5" required /><br />
  </p>
  <p>
    Description:
    <textarea id="description" name="description" required>{{ task.description }}</textarea>
  </p>
  <p>
    <a href="{{ url_for('read')}}">Cancel</a>
    <input type="submit" value="Save Changes" />
  </p>
</form>
{% endblock %}
